$panel-bg           = rgb(255,255,255)
$panel-boder-radius = 0px
$panel-box-shadow   = 0px 4px 6px rgba(0,0,0,.3)


box-shadow(value)
  box-shadow value
  -webkit-box-shadow value

border-radius(value)
  border-radius value
  -webkit-border-radius value


.panel,.panel.panel-default

  position relative
  background $panel-bg

  box-shadow($panel-box-shadow)
  border-radius($panel-border-radius)


  & > .panel-heading
    background-color $panel-bg

  & > .panel-body
    & > .list-group
      & > .list-group-item
        & > .list-group-item-heading
          color: blue

.panel
  > .panel-body.panel-body-scroll
    min-height 500px
    max-height 500px
    top 0
    left 0
    overflow-y scroll
    maring 30px
