html,
body,
ui-view

  // min-height 100%
  // max-height 100%
  height 100%
  width 100%
  display block
  overflow hidden
  position relative

ui-view
  overflow-y scroll
  // height 100vh
  // width 100vw
  // flex-container()
  // flex-wrap(column)
  // justify-content(center)
  // align-items(center)
